@import "mesh-settings.scss";
@import "mesh-mixins.scss";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	@include box-sizing(border-box);
}

body {
	font-size: 12px;
}

//GRID + COLUMNS
$half-column-v-gap: $column-v-gap / 2;
$half-column-h-gap: $column-h-gap / 2;

.row {
	width: 100%;
	max-width: $max-width;
	height: auto;
	margin: 0 auto;
	padding: $row-v-gap $row-h-gap;
	//flex-box
	@include flexbox();
	flex-flow: row wrap;
	justify-content: $standard-ha;
	align-items: $standard-va;
	align-content: flex-start;

	//remove gap on first and last row if true
	@if $first-row-gap == true {
		&:first-child {
			padding-top: $row-v-gap;
		}
	} @else {
		&:first-child {
			padding-top: 0;
		}
	}
	@if $last-row-gap == true {
		&:last-child {
			padding-bottom: $row-v-gap;
		}
	} @else {
		&:last-child {
			padding-bottom: 0;
		}
	}
}



.col {
	height: auto;
	flex: 0 0 auto;
	margin: 0;
	padding: $half-column-v-gap $half-column-h-gap;
	@include flexbox();
	flex-flow: wrap;
	align-items: flex-start;
}


//GENERATE COLUMNS
//Each Range and Upper
@each $rangeName in $rangeNames {
	@include for-size($rangeName) {
		@for $i from 1 through $grid-columns {
			//columns
			.#{$rangeName}-#{$i} {
				flex-basis: unquote(100 / $grid-columns * $i+'%');
				max-width: unquote(100 / $grid-columns * $i+'%');
			}
			//offset
			.#{$rangeName}-offset-#{$i} {
				margin-left: unquote(100 / $grid-columns * $i+'%');
			}
		}
		//dynamic
		.#{$rangeName}-auto {
			flex: 0 0 auto;
		}
		.#{$rangeName}-max {
			flex: 1 1 auto;
		}
		//hide and show
		.#{$rangeName}-hide {
			visibility: hidden;
		}
		.#{$rangeName}-show {
			visibility: visible;
		}
		//order
		.#{$rangeName}-first {
			order: -1;
		}
		.#{$rangeName}-last {
			order: 99999999;
		}
		//alignment
		.#{$rangeName}-left {
			justify-content: flex-start;
		}
		.#{$rangeName}-center {
			justify-content: center;
		}
		.#{$rangeName}-right {
			justify-content: flex-end;
		}
		.#{$rangeName}-around {
			justify-content: space-around;
		}
		.#{$rangeName}-between {
			justify-content: space-between;
		}
		.#{$rangeName}-top {
			align-items: flex-start;
		}
		.#{$rangeName}-middle {
			align-items: center;
		}
		.#{$rangeName}-bottom {
			align-items: flex-end;
		}
		.#{$rangeName}-stretch {
			align-items: stretch;
		}
		//alignment childs
		.#{$rangeName}-left-child > * {
			justify-content: flex-start;
		}
		.#{$rangeName}-center-child > * {
			justify-content: center;
		}
		.#{$rangeName}-right-child > * {
			justify-content: flex-end;
		}
		.#{$rangeName}-around-child > * {
			justify-content: space-around;
		}
		.#{$rangeName}-between-child > * {
			justify-content: space-between;
		}
		.#{$rangeName}-top-child > * {
			align-items: flex-start;
		}
		.#{$rangeName}-middle-child > * {
			align-items: center;
		}
		.#{$rangeName}-bottom-child > * {
			align-items: flex-end;
		}
		.#{$rangeName}-stretch-child > * {
			align-items: stretch;
		}
		//direction
		.#{$rangeName}-row-ltr {
			flex-direction: row;
		}
		.#{$rangeName}-row-rtl {
			flex-direction: row-reverse;
		}
		.#{$rangeName}-col-ltr {
			flex-direction: column;
		}
		.#{$rangeName}-col-rtl {
			flex-direction: column-reverse;
		}
		//wrap
		.#{$rangeName}-wrap {
			flex-wrap: wrap;
		}
		.#{$rangeName}-nowrap {
			flex-wrap: nowrap;
		}
		//gap, no gap
		.#{$rangeName}-nogap {
			padding: 0;
		}
		.#{$rangeName}-nogap-tb {
			padding-top: 0;
			padding-bottom: 0;
		}
		.#{$rangeName}-nogap-t {
			padding-top: 0;
		}
		.#{$rangeName}-nogap-b {
			padding-bottom: 0;
		}
		.#{$rangeName}-nogap-lr {
			padding-left: 0;
			padding-right: 0;
		}
		.#{$rangeName}-nogap-l {
			padding-left: 0;
		}
		.#{$rangeName}-nogap-r {
			padding-right: 0;
		}
		//vh
		.#{$rangeName}-vh-min-0 {
			min-height: 0vh;
		}
		.#{$rangeName}-vh-min-25 {
			min-height: 25vh;
		}
		.#{$rangeName}-vh-min-33 {
			min-height: 33.3333vh;
		}
		.#{$rangeName}-vh-min-50 {
			min-height: 50vh;
		}
		.#{$rangeName}-vh-min-66 {
			min-height: 66.6666vh;
		}
		.#{$rangeName}-vh-min-75 {
			min-height: 75vh;
		}
		.#{$rangeName}-vh-min-100 {
			min-height: 100vh;
		}
		.#{$rangeName}-vh-0 {
			height: 0vh;
		}
		.#{$rangeName}-vh-25 {
			height: 25vh;
		}
		.#{$rangeName}-vh-33 {
			height: 33.3333vh;
		}
		.#{$rangeName}-vh-50 {
			height: 50vh;
		}
		.#{$rangeName}-vh-66 {
			height: 66.6666vh;
		}
		.#{$rangeName}-vh-75 {
			height: 75vh;
		}
		.#{$rangeName}-vh-100 {
			height: 100vh;
		}
		.#{$rangeName}-vh-max-0 {
			max-height: 0vh;
		}
		.#{$rangeName}-vh-max-25 {
			max-height: 25vh;
		}
		.#{$rangeName}-vh-max-33 {
			max-height: 33.3333vh;
		}
		.#{$rangeName}-vh-max-50 {
			max-height: 50vh;
		}
		.#{$rangeName}-vh-max-66 {
			max-height: 66.6666vh;
		}
		.#{$rangeName}-vh-max-75 {
			max-height: 75vh;
		}
		.#{$rangeName}-vh-max-100 {
			max-height: 100vh;
		}
		//vertical center
		.#{$rangeName}-vc {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
		}

	}
	//Each Range only
	@include for-size(#{$rangeName}-only) {
		@for $i from 1 through $grid-columns {
			//columns
			.#{$rangeName}--#{$i} {
				flex-basis: unquote(100 / $grid-columns * $i+'%');
				max-width: unquote(100 / $grid-columns * $i+'%');
			}
			//offset
			.#{$rangeName}--offset-#{$i} {
				margin-left: unquote(100 / $grid-columns * $i+'%');
			}
		}
		//dynamic
		.#{$rangeName}--auto {
			flex: 0 0 auto;
		}
		.#{$rangeName}--max {
			flex: 1 1 auto;
		}
		//hide and show
		.#{$rangeName}--hide {
			visibility: hidden;
		}
		.#{$rangeName}--show {
			visibility: visible;
		}
		//order
		.#{$rangeName}--first {
			order: -1;
		}
		.#{$rangeName}--last {
			order: 99999999;
		}
		//alignment
		.#{$rangeName}--left {
			justify-content: flex-start;
		}
		.#{$rangeName}--center {
			justify-content: center;
		}
		.#{$rangeName}--right {
			justify-content: flex-end;
		}
		.#{$rangeName}--around {
			justify-content: space-around;
		}
		.#{$rangeName}--between {
			justify-content: space-between;
		}
		.#{$rangeName}--top {
			align-items: flex-start;
		}
		.#{$rangeName}--middle {
			align-items: center;
		}
		.#{$rangeName}--bottom {
			align-items: flex-end;
		}
		.#{$rangeName}--stretch {
			align-items: stretch;
		}
		//alignment childs
		.#{$rangeName}--left-child > * {
			justify-content: flex-start;
		}
		.#{$rangeName}--center-child > * {
			justify-content: center;
		}
		.#{$rangeName}--right-child > * {
			justify-content: flex-end;
		}
		.#{$rangeName}--around-child > * {
			justify-content: space-around;
		}
		.#{$rangeName}--between-child > * {
			justify-content: space-between;
		}
		.#{$rangeName}--top-child > * {
			align-items: flex-start;
		}
		.#{$rangeName}--middle-child > * {
			align-items: center;
		}
		.#{$rangeName}--bottom-child > * {
			align-items: flex-end;
		}
		.#{$rangeName}--stretch-child > * {
			align-items: stretch;
		}
		//direction
		.#{$rangeName}--row-ltr {
			flex-direction: row;
		}
		.#{$rangeName}--row-rtl {
			flex-direction: row-reverse;
		}
		.#{$rangeName}--col-ltr {
			flex-direction: column;
		}
		.#{$rangeName}--col-rtl {
			flex-direction: column-reverse;
		}
		//wrap
		.#{$rangeName}--wrap {
			flex-wrap: wrap;
		}
		.#{$rangeName}--nowrap {
			flex-wrap: nowrap;
		}
		//gap, no gap
		.#{$rangeName}--nogap {
			padding: 0;
		}
		.#{$rangeName}--nogap-tb {
			padding-top: 0;
			padding-bottom: 0;
		}
		.#{$rangeName}--nogap-t {
			padding-top: 0;
		}
		.#{$rangeName}--nogap-b {
			padding-bottom: 0;
		}
		.#{$rangeName}--nogap-lr {
			padding-left: 0;
			padding-right: 0;
		}
		.#{$rangeName}--nogap-l {
			padding-left: 0;
		}
		.#{$rangeName}--nogap-r {
			padding-right: 0;
		}
		//vh
		.#{$rangeName}--vh-min-0 {
			min-height: 0vh;
		}
		.#{$rangeName}--vh-min-25 {
			min-height: 25vh;
		}
		.#{$rangeName}--vh-min-33 {
			min-height: 33.3333vh;
		}
		.#{$rangeName}--vh-min-50 {
			min-height: 50vh;
		}
		.#{$rangeName}--vh-min-66 {
			min-height: 66.6666vh;
		}
		.#{$rangeName}--vh-min-75 {
			min-height: 75vh;
		}
		.#{$rangeName}--vh-min-100 {
			min-height: 100vh;
		}
		.#{$rangeName}--vh-0 {
			height: 0vh;
		}
		.#{$rangeName}--vh-25 {
			height: 25vh;
		}
		.#{$rangeName}--vh-33 {
			height: 33.3333vh;
		}
		.#{$rangeName}--vh-50 {
			height: 50vh;
		}
		.#{$rangeName}--vh-66 {
			height: 66.6666vh;
		}
		.#{$rangeName}--vh-75 {
			height: 75vh;
		}
		.#{$rangeName}--vh-100 {
			height: 100vh;
		}
		.#{$rangeName}--vh-max-0 {
			max-height: 0vh;
		}
		.#{$rangeName}--vh-max-25 {
			max-height: 25vh;
		}
		.#{$rangeName}--vh-max-33 {
			max-height: 33.3333vh;
		}
		.#{$rangeName}--vh-max-50 {
			max-height: 50vh;
		}
		.#{$rangeName}--vh-max-66 {
			max-height: 66.6666vh;
		}
		.#{$rangeName}--vh-max-75 {
			max-height: 75vh;
		}
		.#{$rangeName}--vh-max-100 {
			max-height: 100vh;
		}
		//vertical center
		.#{$rangeName}--vc {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}
}



