@import "mesh-settings.scss";
@import "mesh-mixins.scss";

@import url('https://fonts.googleapis.com/css?family=Overpass:200,300,400,700');

@mixin font1 {
	font-family: 'Overpass', sans-serif;
}

body {
	@include font1;
	font-weight: 300;
	line-height: 1.6;
	color: $txt;
}

nav.nav {
	@include con;
}

header.header {
	background: $w;
	@include box-shadow($defaultShadow);

	h1.siteTitle {
		font-size: 1.5rem;
		font-weight: 200;
	}
}

main.main {
	@include con;
}

section.section {
	@include con;
	padding: 3rem 0;
	position: relative;

	&.bg-primary {
		background: $primary;
		color: $w;
	}

	&.bg-secondary {
		background: $secondary;
		color: $w;
	}

	&.bg-accent {
		background: $accent;
		color: $w;
	}

	&.bg-dark {
		background: $txt_l1;
		color: $w;
	}

	.sectionRow {
		@include con;
	}
}

.card {
	@include con;
	background: $w;
	padding: 1.5rem;
	color: $txt;
	@include border-radius($defaultRadiusSmall);
	@include box-shadow($defaultShadow);
	@include transition(all 0.25s $defaultEasingInOut);

	&:hover {
		@include box-shadow($defaultShadowActive);
		@include transition(all 0.25s $defaultEasingInOut);
	}

	h4 {
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid $txt_l4;
		margin-bottom: 0.75rem;
		padding-bottom: 0.75rem;
	}
}

.btn {
	@include con;
	background: $w;
	padding: 0.75rem;
	color: $txt;
	text-align: center;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 1rem;
	@include border-radius($defaultRadiusSmall);
	@include box-shadow($defaultShadow);
	@include transform(translateY(0px));
	@include transition(all 0.25s $defaultEasingInOut);

	&:hover {
		@include box-shadow($defaultShadowActive);
		@include transform(translateY(-5px));
		@include transition(all 0.25s $defaultEasingInOut);
	}

	&.btn-sm {
		font-size: 0.75rem;
		padding: 0.5rem;
	}

	&.btn-md {
		font-size: 1rem;
	}

	&.btn-lg {
		font-size: 1.5rem;
	}

	&.btn-xl {
		font-size: 1.5rem;
		padding: 1.5rem;
	}

	&.btn-primary {
		background: $primary;
		color: $w;
	}

	&.btn-secondary {
		background: $secondary;
		color: $w;
	}

	&.btn-accent {
		background: $accent;
		color: $w;
	}

	&.btn-dark {
		background: $txt_l1;
		color: $w;
	}
}

h1, h2, h3, h4, h5, h6, p {
	@include con;
}
h1 {
	font-size: 2.75rem;
	font-weight: 200;
}
h2 {
	font-size: 2.75rem;
	font-weight: 700;
}
h3 {
	font-size: 1.5rem;
	font-weight: 200;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1.25rem;
	font-weight: 200;
}
h6 {
	font-size: 1.25rem;
	font-weight: 700;
}
p {
	font-size: 1rem;
	font-weight: 300;
}