//MESH GRID SETTINGS

$grid-columns: 12;           //number of columns in a row

$column-h-gap: 3rem;       //horizontal-gap between columns lie by chance
$column-v-gap: 3rem;       //vertical-gap between columns in a row

$row-v-gap: 0rem;         //vertical-gap of a row
$row-h-gap: 1.5rem;         //horizontal-gap of a row
$first-row-gap: false;
$last-row-gap: false;
$max-width: 1200px;        //maximal width of a row

$standard-va: flex-start;    //flex-start | flex-end | center | stretch;
$standard-ha: center;    //flex-start | flex-end | center;

$rangeNames: 'xs', 'sm', 'md', 'lg', 'xl';


$xs-boundary: 600px;
$sm-boundary: 900px;
$md-boundary: 1200px;
$lg-boundary: 1800px;

//MESH COLOR SETTINGS
$w: #fff;
$w_d1: darken($w, 5%);
$w_d2: darken($w, 7.5%);
$w_d3: darken($w, 10%);
$w_d4: darken($w, 12.5%);
$w_d5: darken($w, 15%);
$w_d6: darken($w, 17.5%);
$w_d7: darken($w, 20%);
$b: #000;
$b_l1: lighten($b, 5%);
$b_l2: lighten($b, 7.5%);
$b_l3: lighten($b, 10%);
$b_l4: lighten($b, 12.5%);
$b_l5: lighten($b, 15%);
$b_l6: lighten($b, 17.5%);
$b_l7: lighten($b, 20%);

$primary: #304FFE;
$secondary: #1DE9B6;
$accent: #F50057;

$txt: $b;
$txt_l1: lighten($b, 20%);
$txt_l2: lighten($b, 40%);
$txt_l3: lighten($b, 60%);
$txt_l4: lighten($b, 80%);

//MESH DEFAULTS
$defaultShadow: 0 0 12px rgba(0,0,0,0.15);
$defaultShadowActive: 0 3px 24px rgba(0,0,0,0.25);
$defaultEasingInOut: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$defaultEasingIn: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$defaultEasingOut: cubic-bezier(0.075, 0.82, 0.165, 1);
$defaultRadius: 12px;
$defaultRadiusSmall: 5px;